[flake8]
max-line-length = 100

ignore =
    E203,
    E501,
    W503,
    W504,
    E126

exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .pytest_cache,
    build,
    dist,
    *.egg-info,
    .mypy_cache,
    .ruff_cache

max-complexity = 10

select = E,W,F,C

per-file-ignores =
    __init__.py:F401,
    conftest.py:E402,
    tests/unit/test_logging.py:E402,
    scripts/run_auth_migration.py:E402,C901,
    src/graphrag_api_service/repositories/user_repository.py:C901,
    tests/test_auth_integration.py:E402,
    tests/test_auth_system.py:E402
